.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules/
/target/

.DS_Store
*.log

.tokensave/

_fixtures/animations/tmp/

/ulottie-dev-server/.output/
/ulottie-dev-server/.vitest-attachments/
/ulottie-dev-server/tests/__screenshots__/
/ulottie-dev-server/dist/
/ulottie-dev-server/demo/src/generated/
/ulottie-dev-server/demo/public/wasm/
/ulottie-dev-server/demo/public/_fixtures/
/ulottie-compiler/pkg/
